<div class="wrapper">
  <div class="container-default">
    <div class="inner-wrapper">
      <div class="img-wrapper">
        <img
          src="https://uploads-ssl.webflow.com/62a847e82723ea240a84e0cd/63b5b5b47891b220f985b380_01102022_Logo_positiv_rahmenlos.png"
          alt="TabTeam Logo"
          class="img"
        />
      </div>
      <app-form></app-form>
    </div>
    <footer>
      <p>
        Wir schätzen Ihr Vertrauen und möchten sicherstellen, dass Ihre
        persönlichen Daten sicher aufbewahrt werden. Bitte beachten Sie, dass
        alle Informationen, die Sie in diesem Formular angegeben haben, gemäß
        unserer Datenschutzrichtlinien behandelt werden und nur für den
        angegebenen Zweck verwendet werden. Wenn Sie Fragen zu unseren
        Datenschutzrichtlinien haben, kontaktieren Sie uns bitte.
      </p>
    </footer>
  </div>
</div>
